@charset "UTF-8";
/*  비밀번호 변경안내 페이지 스타일 파일입니다. */
.expired-password-change-form__notice {
  text-align: center;
}
.expired-password-change-form__title {
  font-weight: 500;
  font-size: 24px;
}
.expired-password-change-form__description {
  margin: 20px 0;
  font-size: 14px;
  color: var(--gray400);
}
.expired-password-change-form__description ul {
  background-color: var(--gray100);
  list-style: inside;
  padding: 20px;
}
.expired-password-change-form__description ul li {
  color: var(--gray500);
}
.expired-password-change-form__input-wrapper {
  margin-top: 40px;
}
.expired-password-change-form__input-wrapper .description {
  margin-top: 5px;
}
.expired-password-change-form__input-wrapper .description.invalid-alert {
  color: var(--color-error);
}
.expired-password-change-form__input-item {
  margin-bottom: 10px;
}
.expired-password-change-form__button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
  gap: 10px;
}
.expired-password-change-form__button-wrapper button {
  width: 100%;
}
