@charset "UTF-8";
/*  비밀번호 찾기 페이지 스타일 파일입니다. */
.find-password {
  padding: 0 20px;
}
.find-password .tab {
  width: 100%;
}
.find-password .tab__btn {
  width: 100%;
  text-align: center;
  padding: 10px 0;
}
.find-password .tab__btn button {
  height: 100%;
  font-size: 16px;
  color: unset;
  background-color: transparent;
  border: none;
}
.find-password .tab__btn.is-active {
  border-block-end-width: 3px;
}
.find-password-form {
  margin-top: 20px;
}
.find-password-form__btn-wrap {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.find-password-form__btn-wrap a,
.find-password-form__btn-wrap button {
  width: 100%;
}
