@charset "UTF-8";
/*  회원정보 수정 페이지 스타일 파일입니다. */
.member-modification {
  width: 588px;
  margin: 60px auto 120px;
}
.member-modification__title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}
.member-modification-name {
  padding: 20px 0;
  margin: 0 20px;
  border-bottom: 2px solid var(--color-base-black);
}
.member-modification-name p {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-base-black);
}
.member-modification-name span {
  font-weight: 400;
  margin-left: 5px;
}
.member-modification-form {
  padding: 0 20px 35px;
}
.member-modification-form__certification {
  position: relative;
}
.member-modification-form__certification .timer {
  position: absolute;
  font-size: 14px;
  top: 47px;
  right: 12px;
}
.member-modification-form__item {
  margin-top: 20px;
}
.member-modification-form__input-wrap {
  margin-top: 12px;
}
.member-modification-form__input-wrap button.certification-btn {
  margin-top: 12px;
  width: 100%;
}
.member-modification-form__input-wrap .email-input + .select {
  margin-top: 12px;
}
.member-modification-form__input-wrap .extra-info-radio-group,
.member-modification-form__input-wrap .extra-info-checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.member-modification-form__certification-wrap {
  margin-top: 12px;
}
.member-modification-form__radio-wrap {
  margin-top: 12px;
}
.member-modification-form__radio-wrap .radio-group {
  display: flex;
  justify-content: flex-start;
  align-items: left;
  flex-direction: row;
}
.member-modification-form__radio-wrap .form-check {
  margin: 12px auto 0 0;
}
.member-modification-form__select-wrap {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.member-modification-form__select-wrap .select:not(:last-of-type) {
  margin-right: 12px;
}
.member-modification-form .address-form {
  width: auto;
  height: auto;
}
.member-modification-form .address-form .address-form__zip-code {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.member-modification-form .address-form .address-form__zip-code span {
  flex: 2;
}
.member-modification-form .address-form .address-form__zip-code button {
  margin: 0 0 12px 12px;
  flex: 1;
}
.member-modification-form__button-wrap {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 12px;
}
.member-modification-form__button-wrap button {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
}
.member-modification-form__agree-wrap--description {
  display: flex;
  justify-content: flex-start;
  align-items: left;
  flex-direction: row;
  margin-top: 5px;
  color: var(--gray500);
}
.member-modification-form__agree-wrap--description span {
  margin: 2px 5px 0 0;
}
.member-modification-form__agree-list {
  margin-top: 20px;
}
.member-modification-form__agree-list li {
  margin-top: 5px;
}
.member-modification-form__notice-list {
  position: relative;
  margin-top: 12px;
}
.member-modification-form__notice-list p {
  padding-left: 20px;
  font-size: 14px;
  color: var(--gray500);
}
.member-modification-form__notice-list p::before {
  position: absolute;
  left: 4px;
  content: "-";
}
.member-modification-form__checkbox--check-all {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 56px;
  border: 1px solid var(--gray300);
}
.member-modification-form__checkbox--check-single {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.member-modification-form__checkbox--check-single .form-check.is-disabled .form-check__label {
  color: var(--gray300);
}
.member-modification-form__checkbox--check-single .form-check input {
  flex: 0 0 auto;
}
.member-modification-form__checkbox--check-single .form-check__label {
  font-size: 14px;
}
.member-modification-form__checkbox--check-single button {
  border: none;
  gap: 0px;
  padding: 0px;
  margin: 0 5px 0 0;
  min-width: 0;
  font-size: 14px;
  font-weight: 400;
  background-color: transparent;
  color: var(--color-point);
  text-decoration: underline;
}
.member-modification-form .description {
  margin-top: 5px;
  font-size: 14px;
}
.member-modification-form .description.invalid-alert {
  color: var(--color-error);
}
