@charset "UTF-8";
/*  비밀번호 변경 페이지 스타일 파일입니다. */
.change-password {
  width: 384px;
  padding: 20px;
  margin: 0px auto 40px;
}
.change-password l-title {
  text-align: center;
}

.change-password-form__title {
  font-weight: 500;
  margin-top: 10px;
}
.change-password-form__item {
  margin-top: 20px;
}
.change-password-form__input-wrap .input-field {
  margin-top: 10px;
}
.change-password-form__btn-wrap {
  margin-top: 20px;
}
.change-password-form__btn-wrap button {
  width: 100%;
}
.change-password-form__caution {
  margin-top: 10px;
  color: var(--color-caution);
}
.change-password-form__caution:not(:last-child) {
  margin-bottom: 10px;
}
