@charset "UTF-8";
/*  주문완료 페이지 스타일 파일입니다. */
.order-complete em {
  font-style: normal;
  vertical-align: baseline;
}
.order-complete__message {
  margin: 68px 0 60px;
  line-height: normal;
}
.order-complete__message h1 {
  font-size: 30px;
  font-weight: 700;
  color: var(--color-base-black);
  margin-bottom: 40px;
}
.order-complete__message-success {
  margin: 20px 0 16px;
}
.order-complete__message-success em {
  font-size: 20px;
}
.order-complete__order-no {
  background: var(--gray100);
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 20px;
}
.order-complete__order-no-label {
  position: relative;
  padding-right: 27px;
}
.order-complete__order-no-label::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 14px;
  background-color: var(--gray300);
  position: absolute;
  top: 6px;
  left: 73px;
}
.order-complete__orderer.l-dl.dl-border {
  border-bottom: 1px solid var(--gray200);
}
.order-complete__order-memo.l-dl.dl-border:not(:has(dt)) {
  border: none;
}
.order-complete__product-table-tit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding-right: 60px;
}
.order-complete__product-table-amt {
  font-size: 16px;
}
.order-complete__product-table-amt span + span::before {
  content: "|";
  margin: 0 6px 0 4px;
  color: var(--gray300);
}
.order-complete .l-btn-group .btn {
  width: 248px;
}
