@charset "UTF-8";
/*  회원가입 승인대기 페이지 스타일 파일입니다. */
.sign-up-pending {
  width: 384px;
  margin: 48px auto;
  text-align: center;
}
.sign-up-pending .l-title {
  display: block;
}
.sign-up-pending .notice {
  margin-top: 40px;
}
.sign-up-pending__notice-confirm {
  font-size: 20px;
}
.sign-up-pending__notice-description {
  margin-top: 10px;
  color: var(--gray500);
  text-align: center;
  font-size: 16px;
}
.sign-up-pending__btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin-top: 40px;
  gap: 10px;
}
.sign-up-pending__btn-wrap a {
  width: 100%;
}
