<bottom-nav>
    <script type="text/x-handlebars-template">
        <nav class='nav-bottom'>
            <ul class='nav-bottom__list'>
                <li>
                    <a href='#' shopby-on:click='HOME'>
                        <span class='ico ico--home-black-24'></span>
                        홈
                    </a>
                </li>
                <li>
                    <div shopby-on:click='SEARCH'>
                        <span class='ico ico--magnet-black-24'></span>
                        검색
                    </div>
                </li>
                <li>
                    <a href='/pages/my/my-page.html'>
                        <span class='ico ico--user-circle-black-24'></span>
                        마이페이지
                    </a>
                </li>
                <li>
                    <a href='/pages/product/recent-product.html'>
                        <span class='ico ico--clock-rewind-black-24'></span>
                        <span class='badge badge--round badge--fill-point nav-bottom__link-basket-badge' slot='recentProductCount'>{{recentProductCount}}</span>
                        최근 본 상품
                    </a>
                </li>
            </ul>
        </nav>
    </script>
</bottom-nav>
